<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tasker</title>

  <style>
    .task-done {
      text-decoration: line-through;
    }
  </style>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/css/bootstrap.min.css"
    integrity="sha512-2bBQCjcnw658Lho4nlXJcc6WkV/UxpE/sAokbXPxQNGqmNdQrWqtw26Ns9kFF/yG792pKR1Sx8/Y1Lf1XN4GKA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- htmx -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/2.0.7/htmx.min.js"
    integrity="sha512-IisGoumHahmfNIhP4wUV3OhgQZaaDBuD6IG4XlyjT77IUkwreZL3T3afO4xXuDanSalZ57Un+UlAbarQjNZCTQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>

  <div class="container">
    <h1>Tasks</h1>
    <h2>Task list</h2>
    <table class="table">
      <thead>
        <tr>
          <th><!-- Priority/Done --></th>
          <th>Description</th>
          <th>Done?</th>
        </tr>
      </thead>

      <tbody>
        {% for task in tasks %}
        <tr>
          <td>
            {% if task.completed %}
            x
            {% else %}
            ↑ ({{ task.priority }}) ↓
            {% endif %}
          </td>
          <td {% if task.completed %}class="task-done" {%endif%}>
            {{ task.description }}
          </td>
          <td hx-post="/toggle-done/{{ task.id }}" hx-target="body">
            ⟳
          </td>
        </tr> {% endfor %}
      </tbody>
    </table>

    <h2>Add new task</h2>
    <form autocomplete="off" method="post" action="/add-new-task">
      <div>
        <input type="text" name="priority" class="form-control" required placeholder="Priority" pattern="[A-Z]" />
      </div>
      <div>
        <label for="description" class="form-label">Description</label>
        <input type="text" name="description" class="form-control" required placeholder="Description" />
      </div>
      <div>
        <input type="submit" value="Add" />
      </div>
    </form>
  </div>

  <!-- Bootstrap -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/js/bootstrap.bundle.min.js"
    integrity="sha512-HvOjJrdwNpDbkGJIG2ZNqDlVqMo77qbs4Me4cah0HoDrfhrbA+8SBlZn1KrvAQw7cILLPFJvdwIgphzQmMm+Pw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>

</html>
