<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tasker</title>

  <style>
    .task-completed {
      text-decoration: line-through;
    }

    .task-description-editable-input {
      border: none;
      width: 100%;
      background: transparent;
    }
  </style>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/css/bootstrap.min.css"
    integrity="sha512-2bBQCjcnw658Lho4nlXJcc6WkV/UxpE/sAokbXPxQNGqmNdQrWqtw26Ns9kFF/yG792pKR1Sx8/Y1Lf1XN4GKA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- htmx -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/2.0.7/htmx.min.js"
    integrity="sha512-IisGoumHahmfNIhP4wUV3OhgQZaaDBuD6IG4XlyjT77IUkwreZL3T3afO4xXuDanSalZ57Un+UlAbarQjNZCTQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>

  <div class="container">
    <h1>Tasker</h1>

    {% if projects %}
    <h2>Projects</h2>
    <div class="d-flex flex-row">
      {% for project in projects %}
      <form action="/">
        {% if current_project != project %}
        <input type="hidden" name="project" value="{{ project }}" />
        {% endif %}
        <input class="p-2 m-2 btn {% if current_project != project %}btn-secondary {% else %}btn-light {% endif %}"
          type="submit" value="{{ project }}" />
      </form>
      {% endfor %}
    </div>
    {% endif %}

    <h2>Task list</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th><!-- Priority/Completed --></th>
          <th>Description</th>
          <th>Project</th>
          <th><!-- Flag as completed/pending --></th>
        </tr>
      </thead>

      <tbody>
        {% for task in tasks %}
        {% include 'task_row.html.j2' %}
        {% endfor %}
      </tbody>
    </table>

    <h2>Add new task</h2>
    <form autocomplete="off" method="post" action="/add-new-task">
      <div class="mb-3">
        <input type="text" name="priority" class="form-control" required placeholder="Priority" pattern="[A-Z]" />
      </div>
      <div class="mb-3">
        <input type="text" name="description" class="form-control" required placeholder="Description" />
      </div>
      <div class="mb-3">
        <input type="text" list="projects" name="project" class="form-control" placeholder="Project" {% if
          current_project %}value="{{ current_project }}" {% endif %} />
        <datalist id="projects">
          {% for project in projects %}
          <option value="{{ project }}"></option>
          {% endfor %}
        </datalist>
      </div>
      <input type="submit" class="btn btn-secondary mb-3" value="Add" />
    </form>

    <h2>Task cleanup</h2>
    <form method="post" action="/task-cleanup">
      <p>Task cleanup deletes all completed tasks.</p>
      <div>
        <input type="submit" class="btn btn-secondary" value="Perform task cleanup" />
      </div>
    </form>
  </div>

  <!-- Bootstrap -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/js/bootstrap.bundle.min.js"
    integrity="sha512-HvOjJrdwNpDbkGJIG2ZNqDlVqMo77qbs4Me4cah0HoDrfhrbA+8SBlZn1KrvAQw7cILLPFJvdwIgphzQmMm+Pw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>

</html>