<tr>
    <td>
        {% if task.completed %}
        x
        {% else %}
        ↑ ({{ task.priority }}) ↓
        {% endif %}
    </td>
    <td {% if task.completed %}class="task-done" {%endif%}>
        {{ task.description }}
    </td>
    <td hx-post="/toggle-done/{{ task.id }}" hx-target="closest tr" hx-swap="outerHTML">
        ⟳
    </td>
</tr>